{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static './navbar.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .topnav {
            background-color: #BD5555;
        }

        .teksnav {
            color: #FFFFFF;
            margin-right: 15px;
        }

        .home {
            font-size: 30px;
        }

        .teksnav:hover {
            color: #1A1A2E;
        }

        .navbar-link:hover {
            text-decoration: none;
        }

        .kanan {
            margin-left: auto;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark topnav">
        <a class="navbar-link" href="{% url 'landing:katalog' %}">
            <h5 class="home teksnav">Pet Shelter</h5>
        </a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav kanan">
                <!-- {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'my_profile:index' %}">
                    <h5 class="teksnav">{{user.username}}</h5>
                </a>

                <a class="nav-link" href="{% url 'autentikasi:logout'%}">
                    <h5 class="teksnav">Keluar</h5>
                </a>

                {% else %}
                <a class="nav-link" href="{% url 'autentikasi:login'%}">
                    <h5 class="teksnav">Masuk</h5>
                </a>

                <a class="nav-link" href="{% url 'autentikasi:register'%}">
                    <h5 class="teksnav">Daftar</h5>
                </a>
                {% endif %} -->
            </div>
        </div>
    </nav>

    {% csrf_token %}
    <div class="row m-5 justify-content-center">
        <div class="col-md-8 col-sm-8">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary">
                    <a href="{% url 'my_profile:index' %}" style="text-decoration: none; color: white;">Cancel</a>
                </button>
            </form>
        </div>
    </div>
</body>

</html>